{% extends "base.html" %}
{% load socialaccount %}
{% block title %}Log in{% endblock title %}

{% block content %}
    <div class="card text-center form-card my-lg-3">
        <h2 class="card-header h5">Log in to How Should I Learn</h2>
        <div class="card-body">
            <div class="col my-md-3 my-2">
                <div class="row mx-auto">
                    <a class="mb-3 mx-auto icon-button google btn" href="{% provider_login_url "google" process="login" %}"><i class="fab fa-google"></i> Continue with Google</a>
                </div>
                <div class="row mx-auto">
                    <a class="mb-2 mx-auto icon-button facebook btn" href="{% provider_login_url "facebook" process="login" %}"><i class="fab fa-facebook"></i> Continue with Facebook</a>
                </div>
            </div>
            <div class="col my-md-3 my-2">
                <p class="text-primary">Or use email</p>
                <div>
                    {% if form.errors %}
                        <p>Your username or password are incorrect. Please try again.</p>
                    {% endif %}
                </div>
                <form method="POST" action="{% url 'account_login' %}">

                    {% csrf_token %}
                    <div class="form-outline mb-4">
                    {{ form }}
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    <p class="mt-2"><a href="{% url 'account_reset_password' %}">Forgotten your password?</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}