{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% block title %}Sign up{% endblock title %}

{% block content %}
    <div class="card text-center form-card my-lg-3">
        <h2 class="card-header h5">Sign up for your account</h2>
        <div class="card-body">
            <div class="col my-md-3 my-2">
                <div class="row mx-auto">
                    <a class="mb-3 mx-auto icon-button google btn"
                       href="{% provider_login_url "google" process="signup" %}"><i class="fab fa-google"></i> Continue with Google</a>
                </div>
                <div class="row mx-auto">
                    <a class="mb-2 mx-auto icon-button facebook btn"
                       href="{% provider_login_url "google" process="signup" %}"><i class="fab fa-facebook"></i> Continue with Facebook</a>
                </div>
            </div>
            <div class="col my-md-3 my-2">
                <p class="text-primary">Or use email</p>
                <div>
                    {% if form.errors %}
                        <p>Your username or password are invalid. Please try again.</p>
                    {% endif %}
                </div>
                <form action="{% url 'account_signup' %}" method="post" class="form login-form text-left signup" id="signup_form">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                    {{ form }}
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <p>
                        <small>
                            By signing up, you confirm that you are over 16 years old and that you agree to our <a target="_blank" href="{% url 'authapp:privacy' %}">Privacy and Cookies Policy</a> and that you have read our <a target="_blank" href="{% url 'authapp:privacy' %}">Privacy and Cookies Policy</a>.
                        </small>
                    </p>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                    <p class="mt-2">Already have an account? <a href="{{ login_url }}">Log in</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}