{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Reset your password{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Forgotten your Login Details?</h1>
        <small class="text-secondary">If you originally logged in with Google or Facebook, please use the Continue with
            Google / Facebook options.</small>
        <div class="card mt-5">
            <h2 class="card-header h5">Enter your email address to obtain a new password</h2>
            <div class="card-body">
                <small>If the email matches an account, you will receive a link to reset your password.</small>
                <form action="" method="post" class="form mt-3">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-info" value="send e-mail">Submit</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}