{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Registration

{% endblock title %}
{% block content %}

    <h1 class="h2 pb-4">Sign up to like and save your favourite resources</h1>

    {% if form.errors %}

    {% endif %}

    <form action="" method="post" class="form container">
        {% csrf_token %}
        {% bootstrap_form form %}
        <p style="font-size: .65em">By clicking Sign Up, you agree to our <a target="_blank" href="{% url 'authapp:privacy' %}">Privacy
            Policy</a> and that you have read our <a target="_blank" href="{% url 'authapp:privacy' %}">Privacy
            Policy</a>.</p>
        {% buttons %}
            <button type="submit" class="btn btn-info">Sign up</button>
        {% endbuttons %}
    </form>
{% endblock content %}