.login-form, .suggest-card, .search-form, .form-card {
    margin: auto;
    max-width: 50rem;
}

.date-text {
    margin: .4rem 0;
    padding: 0;
    font-size: .7rem;
    line-height: .7rem;
}

.inline-label {
    display: block !important;
    width: 100%;
}

small {
    line-height: 1rem;
}

.bold-text {
    font-weight: 600;
}

select {
    padding: .3rem .2rem !important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem; /* Footer height */
}

#footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

a {
    overflow-wrap: anywhere;
}


html {
    position: relative;
}


.experience_level_wrapper {
    position: relative;
    display: block;
    height: 2.5rem;
    max-width: 20rem;
    margin: 1rem auto 0 auto;
}

.experience_level_wrapper label {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.experience_level_wrapper select {
    display: inline-block;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.multi_selects {
    display: block;
    width: 100%;
}

.resource_type_wrapper {
    margin-top: 1rem;
    width: 100%;
    display: block;
}

.tags_wrapper {
    width: 100%;
    display: block;
}

.tags_input {
    text-align: left;
}

.multi_selects ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.multi_selects ul li {
    display: inline;
    padding: 0 .3rem;
}


.search-form button.btn, .suggest-button {
    margin: .3rem auto;
    width: 80%;
    display: block;
}


form button.btn {
    font-weight: 600;
}

.search-form {
    text-align: center;
    margin-bottom: 2rem;
}

.submit-form-group > textarea, .submit-form-group > input {
    width: 100%;
    max-height: 6rem;
    padding: .3rem;
}

.likes-text, #num-likes {
    color: #D7263D;
}

.suggest-form-description-group {
    margin-bottom: 1rem;

}

a, button, .btn, .nav-link {
    font-weight: 600 !important;
}

.card-header {
    background-color: #f2f8f3;
}


.suggest-form-description-group > label, .suggest-form-description-group > small {
    margin: 0;
}

.suggest-form-description-group > .submit-form-group {
    margin-top: .5rem;
    display: block;
}

.nav-link {
    font-size: 1rem;
}

@media (max-width: 765px) {

    .card-body {
        padding: 1rem;
    }

}

.card {
    height: 100%;
}

p.likes-text {
    margin: 0;
}

ul.card-text li {
    font-size: .8rem;
    display: inline-block;
    padding: .5rem;
    border: 1px solid;
    margin: .2rem;
    border-radius: 3rem;
    list-style: none;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
}

ul.card-text {
    display: block;
    margin: .2rem 0;
    padding: 0;
}

.icon-button > svg {
    height: 1rem;
    padding: 0;
    width: 1rem;
    margin: 0 5px 2px 0;
}

a.icon-button, a.icon-button:hover, a.icon-button:active, a.icon-button:visited {
    width: 100%;
    text-decoration: none;
    padding: .45rem .65rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: .1rem;
    border: 1px solid;
}

.google {
    color: #DB4437 !important;
    border-color: #DB4437 !important;
}

.google:hover {
    background-color: #ffd6d3 !important;
}

.facebook:hover {
    background-color: #e3eafa !important;
}


.facebook {
    color: #3b5998 !important;
    border-color: #3b5998 !important;
}

@media (max-width: 330px) {

    a.icon-button, a.icon-button:hover, a.icon-button:active, a.icon-button:visited {
        font-size: 0.8rem;
        padding: .3rem .4rem;
    }
}

.footer-small {
    width: 100%;
    display: block;
}

.card-block {
    display: block;
    width: 100%;
}

div.card-body {
    padding: 1rem;
}

div.card-header {
    padding: .5rem 1rem;
}

.card-header > .h6 {
    padding: 0;
    margin: 0;
}

form > button {
    border: none;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: .2rem;
}

.selectize-input {
    position: relative;
}

#id_email, #id_username, #id_password1, #id_password2, #id_login, #id_password {
    display: block;
    width: 100%;
    padding: .2rem;
    margin-top: .3rem;
}

.btn-outline-info:hover, .btn-outline-primary:hover, .btn-outline-dark:hover, .btn-info, .btn-primary {
    color: white !important;
}

.nav-link {
    color: white !important;
    border-color: white !important;
}