<!-- https://mdbootstrap.com/docs/standard/navigation/footer/ -->
<footer id="footer">
    <div class="bg-light row text-center p-2 m-0">
        <div class="col-12 col-md-6 p-2 text-center text-md-start">
            <small class="footer-small text-danger">🛠️️ How Should I Learn is currently in Alpha so the site may not be
                up or fully functional 100% of the time</small>
            <small class="footer-small">📧 Contact info@howshouldilearn.com with any enquiries</small>

        </div>
        <div class="col-12 col-md-6 p-2 text-center text-md-end">
            <small class="footer-small"><a href="{% url 'authapp:privacy' %}">View our Privacy and Cookies
                Policy</a></small>
            <small class="footer-small">© 2021 Copyright <a class="text-dark" href="https://www.howshouldilearn.com/">howshouldilearn.com</a></small>
            <small class="footer-small">Built with ❤️ 🐱 in London</small>
        </div>
    </div>
</footer>
