{% extends "base.html" %}
{% block title %}Links{% endblock title %}
{% block content %}
    {% if searched %}
        <p id="searched" style="height: 0"></p>
    {% endif %}
    <form class="search-form" action="{% url 'links:index' %}" method="get">
        <div class="multi_selects">
            <div class="tags_wrapper">
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}
                {{ form.tags }}
            </div>
            <div class="resource_type_wrapper">
                {{ form.type.errors }}
                {{ form.type.label_tag }}
                {{ form.type }}
            </div>
        </div>
        <div class="experience_level_wrapper">
            {{ form.level.errors }}
            {{ form.level.label_tag }}
            {{ form.level }}
        </div>
        <button type="submit" class="btn btn-primary">Find resources!</button>
    </form>
    {% if object_list %}
        <h1 style="width: 100%; text-align: center" id="results">{{ list_title }}</h1>
        <div class="links">
            {% for link in object_list %}
                <h2><a href="{% url 'links:detail' link.id %}">{{ link.name }}</a></h2>
                <p class="likes-text">{{ link.number_of_likes }} Like{{ link.number_of_likes|pluralize }}</p>
                <p class="date-text">{{ link.created_at }}</p>
                <p><a href="{{ link.url }}">{{ link.url }}</a></p>
                <ul style="font-size: .8em">
                    {% for tag in link.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                    <li>{{ link.get_level_display }}</li>
                    <li>{{ link.get_type_display }}</li>
                </ul>
            {% endfor %}
        </div>
    {% else %}
        <p class="mt-2">No links found : (</p>
    {% endif %}
    <script>
        const ty = document.getElementById("id_type");
        multi(ty);
        const ta = document.getElementById("id_tags");
        multi(ta);

        if (document.getElementById("searched")) {
            console.log("HELLO")
            const searchResults = document.getElementById("results");
            searchResults.scrollIntoView();
        }

    </script>

{% endblock content %}