{% extends "base.html" %}
{% load my_tags %}
{% block title %}How Should I Learn{% endblock title %}
{% block content %}
    {% if searched %}
        <p id="searched" class="d-none"></p>
    {% endif %}
    <h1 class="h5 mb-3">A carefully curated directory of original, fun and diverse tech-related learning resources.</h1>
    <form class="w-100 mx-auto" action="" method="get">
        <div class="tags_wrapper my-2 w-100 mx-auto">
            {{ form.tags.errors }}
            <span class="tags_input">{{ form.tags }}</span>
        </div>
        <div class="resource_type_wrapper my-2 w-100 mx-auto">
            {{ form.type.errors }}
            <span class="bold-text d-block">{{ form.type.label_tag }}</span>
            {{ form.type }}
        </div>
        <div class="experience_level_wrapper my-2 w-100 mx-auto">
            {{ form.level.errors }}
            <span class="bold-text">{{ form.level.label_tag }}</span>
            {{ form.level }}
        </div>
        <div class="mt-3 mx-auto w-75">
            <button type="submit" class="btn btn-primary btn-block mx-auto w-100"><i class="fas fa-search"></i> Find Resources!</button>
            <a href="{% url 'links:suggest' %}" class="btn btn-outline-info w-100 mt-2 btn-block mx-auto"><i class="fas fa-plus"></i>
                Share Resource</a>
        </div>
    </form>
    {% if page_obj %}
        <h2 class="mt-4" id="results">{{ list_title }}</h2>
        <div class="row my-4">
            {% for link in page_obj %}
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <p class="card-title h6 m-0">{{ link.name }}</p>
                            <small class="card-text mb-1">{{ link.tagline }}</small>
                            <small class="text-danger my-1 d-block"><i
                                    class="fas fa-heart"></i> {{ link.number_of_likes }}
                                Like{{ link.number_of_likes|pluralize }}</small>
                            <ul class="card-text">
                                {% for tag in link.tags.all %}
                                    <li>{{ tag.name }}</li>
                                {% endfor %}
                                <li>{{ link.get_level_display }}</li>
                                <li>{{ link.get_type_display }}</li>
                            </ul>
                            <div class="mt-auto flex-row-lg d-flex-lg">
                                <a href="{% url 'links:detail' link.id %}"
                                   class="btn btn-primary btn-more mt-2 me-lg-2 btn-sm me-2">More Details</a>
                                <a href="{{ link.url }}" target="_blank"
                                   class="btn btn-outline-info mt-2 btn-access btn-sm">Access Resource</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}">First</a>
                {% if page_obj.previous_page_number != 1 %}
                    <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                {% endif %}
            {% endif %}

            Page {{ page_obj.number }} of {{ paginator.num_pages }}

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != paginator.num_pages %}
                    <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                {% endif %}
                <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
            {% endif %}

            <p>Results {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
        {% endif %}
    {% else %}
        <div id="none-text">
            <p class="mt-4 bold-text">😿 No links found</p>
            <p>Let us know what topic you'd like us to curate more resources on - get in touch at info@howshouldilearn.com</p>
        </div>
        <p><a href="{% url 'links:index' %}"><i class="far fa-hand-point-left"></i> Back to home</a></p>
    {% endif %}
{% endblock content %}

{% block javascript %}
    <script>
        $('#id_tags').selectize({
            openOnFocus: false,
            closeAfterSelect: true,
            placeholder: "Search for learning resource topics..."
        });
        if (document.getElementById("searched")) {
            const searchResults = document.getElementById("results");
            if (searchResults) {
                searchResults.scrollIntoView();
            }
        }
        const noResultsSection = document.getElementById("none-text");
        const selectedItemsCount = document.getElementsByClassName("item").length;
        if ((selectedItemsCount === 0) && noResultsSection) {
            noResultsSection.innerHTML = "<p class='mt-4 text-warning'><i class='fas fa-exclamation-circle'></i> You haven't selected any topics - please try selecting some topics</p>"
        }
        const options = Array.prototype.filter.call(document.getElementsByTagName("input"), (i) => {return (i.name === "type")});
        if (Array.prototype.filter.call(options, (i) => {return i.checked;}).length === 0) {
            Array.prototype.forEach.call(options, (o) => {o.click()})
        }
    </script>
{% endblock javascript %}