{% extends "base.html" %}
{% block title %}Link detail{% endblock title %}
{% block content %}
    <div class="card text-center info-card">
        <h1 class="card-header h4 py-3">{{ object.name }}</h1>
        <div class="card-body">
            <div>
                {% if user.is_authenticated %}
                    <form id="like-form">
                        {% csrf_token %}
                        <input name="link_id" value="{{ object.id }}" type="hidden">
                        {% if post_is_liked %}
                            <button class="text-danger unstyled-button" id="num-likes" type="submit"><i class="fas fa-heart"></i> {{ object.number_of_likes }} Like{{ object.number_of_likes|pluralize }}</button>
                        {% else %}
                            <button class="text-danger unstyled-button" id="num-likes" type="submit"><i class="far fa-heart"></i> {{ object.number_of_likes }} Like{{ object.number_of_likes|pluralize }}</button>
                        {% endif %}
                    </form>
                {% else %}
                    <p class="text-danger" id="num-likes"><i class="fas fa-heart"></i> {{ object.number_of_likes }} Like{{ object.number_of_likes|pluralize }}</p>
                    <a class="btn btn-outline-info btn-sm" href="{% url 'account_login' %}?next={{ request.path }}">Login to like this resource!</a><br>
                {% endif %}
            </div>
            <p class="card-text mt-3 ">{{ object.description }}</p>
            <ul class="mt-3 card-text">
                {% for tag in link.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
            <p class="card-text h6 mt-3">Level:</p>
            <p class="card-text">{{ object.get_level_display }}</p>
            <p class="card-text h6">Category:</p>
            <p class="card-text">{{ object.get_type_display }}</p>
            <a href="{{ object.url }}" target="_blank" class="btn btn-primary d-block d-sm-inline-block">Check out resource</a>
        </div>
        <div class="card-footer text-muted">Posted on {{ object.created_at|date:"D d M Y" }}</div>
    </div>
    <p class="info-card mt-2"><a href="{{ saved_back_url }}"><i class="far fa-hand-point-left"></i> Back</a></p>



    <div class="p-3" id="leave-a-comment">
        {% if user.is_authenticated %}
            <form id="comment-form">
                {% csrf_token %}
                <input name="link_id" value="{{ object.id }}" type="hidden">
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="body" rows="4" name="body"></textarea>
                    <label class="form-label" for="body">Leave a comment...</label>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Post Comment</button>
            </form>
        {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path }}" class="text-decoration-underline">Login to leave
                a comment</a><br>
        {% endif %}
    </div>




    {% if object.comments.all.count > 0 %}
        <h1 class="h3 text-center mt-3" id="num-comments"><i class="fas fa-comments"></i> {{ object.comments.all.count }}
            Comment{{ object.comments.all.count|pluralize }}</h1>
        <div class="p-3" id="comment-section">
            {% for comment in object.comments.all %}
                <div class="mb-3">
                    <small><b><span class="text-muted"><i class="far fa-comment-dots"></i> {{ comment.user.username }}</span> posted
                        on {{ comment.created_on|date:"d M Y" }}</b></small>
                    <p>{{ comment.body }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="h3 text-center mt-3" id="num-comments"><i class="fas fa-comment-slash"></i> No comments yet</h1>
        <div class="p-3" id="comment-section">
        </div>
    {% endif %}

{% endblock content %}



{% block javascript %}
    <script>

        $("#like-form").submit(function (e) {
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            const serializedData = $(this).serialize();
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'links:post_like' %}",
                data: serializedData,
                success: function (response) {
                    const post_is_liked = JSON.parse(response["post_is_liked"]);
                    const num_likes = JSON.parse(response["num_likes"]);
                    if (post_is_liked) {
                        $("#num-likes").html('<i class="fas fa-heart"></i> ' + num_likes + ((num_likes > 1) ? ' Likes' : ' Like'));
                    } else {
                        $("#num-likes").html('<i class="far fa-heart"></i> ' + num_likes + ((num_likes > 1) ? ' Likes' : ' Like'));
                    }
                },
                error: function (response) {
                    console.log("Error liking link");
                }
            })
        });

        $("#comment-form").submit(function (e) {
            e.preventDefault();
            const serializedData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'links:post_comment' %}",
                data: serializedData,
                success: function (response) {
                    const poster_username = response["username"];
                    const body = response["posted_body"];
                    const num_comments = response["num_comments"];
                    $("#comment-section").prepend('<div class="mb-3"><small><b><span class="text-muted"><i class="far fa-comment-dots"></i> ' + poster_username + '</span> posted Just Now</b></small> <p>' + body + '</p></div>')
                    $("#comment-form")[0].reset();
                    $("#num-comments").html('<i class="fas fa-comments"></i> '+num_comments + ((num_comments > 1) ? ' Comments' : ' Comment'));
                },
                error: function (response) {
                    console.log("Error posting comment");
                }
            })
        });
    </script>
{% endblock javascript %}